#newsletter {
  --clr-grey: #38393B;
  --clr-light-grey: #9E9E9E;
  background: url("../img/news_bg.png") center/cover no-repeat;
  padding: 2rem 0;
}

#newsletter #news-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

#newsletter #news-title > h2 {
  color: var(--clr-grey);
  font-family: "Lora", serif;
  font-size: 3rem;
  font-weight: normal;
}

#newsletter #news-title > a {
  font-size: 1rem;
  font-weight: bold;
}

#newsletter #news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#newsletter .news-single {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
}

#newsletter .news-single:hover {
  -webkit-box-shadow: 0 0.5rem 0.5rem var(--clr-light-grey);
          box-shadow: 0 0.5rem 0.5rem var(--clr-light-grey);
}

#newsletter .news-single-image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#newsletter .news-single-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
}

#newsletter .news-single-description > small {
  color: var(--clr-light-grey);
}

#newsletter .news-single-description > h3 {
  font-family: "Lora", serif;
  margin-bottom: 1rem;
}

#newsletter .news-single-description > p {
  margin-bottom: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#newsletter .news-single-description > button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: var(--clr-grey);
  border: none;
  color: white;
  cursor: pointer;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  -webkit-transition: background-color, 1s;
  transition: background-color, 1s;
}

#newsletter .news-single-description > button:hover {
  background: var(--clr-light-grey);
}

@media screen and (max-width: 979px) {
  #newsletter #news-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #newsletter .item-wrapper.col-1-2 {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding-right: 15px;
    padding-bottom: 1rem;
  }
}
